<?xml version='1.0' encoding='UTF-8'?>
<Installer>
    <Name>cs8 Tools Installer</Name>
    <Version>1.0.7</Version>
    <Title>cs8 Tools Installer</Title>
    <Publisher>Volker Drewer-Gutland</Publisher>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>cs8 Tools</StartMenuDir>
    <MaintenanceToolName>cs8ToolsMaintenanceTool</MaintenanceToolName>
    <TargetDir>@ApplicationsDir@/cs8Tools</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>http://drewer-gutland.se/cs8tools/repository/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
